# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# Visual Studio / Rider / VS Code
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
.vscode/

# Unity crash and asset db
sysinfo.txt
*.stackdump
[Aa]ssets/AssetStoreTools*

# OS files
.DS_Store
